:host{
  padding: 20px;
  background-color: bisque;
  max-width: 700px;
  border-radius: 5px;
  border-width: 1px;
  display: flex;
  flex-direction: column;

  .word-row{
    display: block;
    max-width: 500px;
    min-width: 200px;
    border-radius: 8px;
    background-color: tan;
    margin: 5px;
  }

}
