<div>Sort
  <span (click)="sortOrderChange();">
    {{currentOrder === 1? '↑': '↓'}}
  </span> by
  <span (click)="sortChange();">
    {{selectedSorting}}
  </span>
</div>
<div *ngFor="let word of showedWords" class="word-row">
  <div class="values-container">
    Word:
    <app-changeable-value [value]="word"
                          (valueChange)="onWordChange(word, $event)"
                          title="Edit word"
                          placeholder="Write new word"
    ></app-changeable-value>
  </div>
  <div>
    Count: {{ wordMap.get(word).count }}
  </div>
  <div class="values-container">
    Tags:
    <div *ngFor="let tag of wordMap.get(word).tags">
      <app-changeable-value [value]="tag"
                            (valueChange)="onTagsChange(tag, word, $event)"
                            [title]="tag === '(EMPTY)'?'Tap to write new value':'Edit tag'"
                            placeholder="Write new tag"
      ></app-changeable-value>
    </div>
  </div>
</div>
<select (change)="onCountSelected($event.target.value)">
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="40">40</option>
</select>
<select (change)="onPageSelected($event.target.value)">
  <option *ngFor="let page of this.pages" [value]="page">{{ page }}</option>
</select>
