<div class="dictionary-container" *ngIf="this.words.length || this.dictionary">
  <app-dictionary-list
    [data]="words"
    [dictionary]="dictionary"
    (wordRemove)="onRemoveWord($event)"
    (saveDictionary)="onSaveDictionary($event)"
  ></app-dictionary-list>
</div>
<div>
  Загрузить текст----<input type="file" (change)="fileChanged($event)" />
</div>
<div>
  Загрузить словарь-<input type="file" (change)="fileDictChanged($event)" />
</div>
<div *ngIf="this.files && this.files.length">
  <div>
    <input
      type="button"
      value="Clear loaded texts and words"
      (click)="onClearLoadedTexts()"
    />
  </div>
</div>
